@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: unset;
  border: unset;
  padding: unset;
}

:root {
  font: 62.5% 'Noto Sans JP', sans-serif;
}

body {
  background-color: #3f3f3f;
}
